<div ng-controller="DeleteController" class="row">
    <div class="col-md-3 col-md-offset-1">
        <h3 class="text-danger">Select Person</h3>
        <hr />

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropDown1" data-toggle="dropdown">
                {{selectedItem}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropDown1">
                <li ng-repeat="p in people.data">
                    <a ng-click="dropBoxItemSelected(p)">{{p.Name}}</a>
                </li>
            </ul>
        </div>        
    </div>
    <div class="col-md-7">
        <form ng-show="isDeleteItemVisible">
            <div class="form-group">
                <label for="inputName">Id</label>
                <input type="text" ng-disabled="true" ng-model="personId" class="form-control input-lg" placeholder="Person Id" />
            </div>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" ng-disabled="true" ng-model="name" class="form-control input-lg" placeholder="Person Name" />
            </div>
            <div class="form-group">
                <label for="inputName">Age</label>
                <input type="text" ng-disabled="true" ng-model="age" class="form-control input-lg" placeholder="Person Age" />
            </div>
            <button ng-click="deletePeople()" class="btn btn-info form-control input-lg">Delete</button>
        </form>
    </div>
</div>